<article class="card">
    <figure>
        <a href="./shayuk/<!-- filename -->.html">
            <img src="<!-- picture -->" alt="A Picture of the Sheik">
        </a>
    </figure>
    <p class="name">
        <!-- name -->
    </p>
    <p>Link to Ijazza: <a href="#">Ijazza's</a></p>
    <!-- Change to page later -->
    <details>
        <summary>
            Bio
        </summary>
        <dl>
            <dt>Studied at:</dt>
            <dd>
                <!-- university -->
            </dd>
            <dt>Teacher(s):</dt>
            <dd>
                <!-- teacher -->
            </dd>
            <dt>Specialty:</dt>
            <dd>
                <!-- ijazaat -->
            </dd>
            <dt>Books:</dt>
            <dd>
                <!-- books -->
            </dd>
        </dl>
    </details>
</article>